<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

   <h1>The Basketball Team</h1>

    <!--   Use ERB tags to bring in an instance variable containing the reversed string -->
    <% @team.each do |member| %>
      <h2><%= member %></h2>
    <% end %>

 </body>
</html>
